<div class="row">
  <div class="col-md-4 col-md-offset-4 col-small-12">
    <h1 class="center">Check out an example profile below...</h1>

    <div class="profile">
      <div class="row">
        <div class="col-sm-6">
          <h1>John</h1>
          <h3>New York, NY</h3>
          <h4>Locally, via Webcam</h4>
        </div>
        <div class="col-sm-6">
          <%= image_tag('small-square.png', class: 'profile-pic') %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="bio">“I like to code and play music. Let’s exchange some skills.”</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="skills-section">
            <h3>Skills Offered</h3>
            <p>Guitar</p>
            <p>Banjo</p>
            <p>Web Development</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="skills-section">
            <h3>Skills Wanted</h3>
            <p>Woodworking</p>
            <p>SAAS Sales</p>
            <p>Public Speaking</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="message">Message Now</button>
          <button class="save">Save for Later</button>
          <button class="next">Next</button>
        </div>
      </div>
    </div>


    <h1 class="center">Ready to make your own?</h1>
    <button id="ready">I'm Ready</button>

  </div>
</div>