<div class="home-main">
  <%= image_tag('logo', class: 'center-logo') %>

  <div class="welcome">
    <h1>You and your community.</br>Knowledge through one-on-one sharing.</br>Nothing else.</h1>
  </div>
  
  <div class="about">
    <h1 class="header">About Skillap</h1>
    <h2 class="section-title">SHARING FOR MUTUAL BENEFIT</h2>
    <p>Members tag skills they can share and skills they want to learn. When two members skills align for a shared benefit, they are encouraged to chat and see if they’d like to meet - in-person or via webcam - to learn from each other. No payments allowed, skills are the only currency here.</p>
    <h2 class="section-title">BEGINNERS TO EXPERTS</h2>
    <p>And you don’t have to be an expert to help someone else learn.  We encourage our members to list many skills, even if it’s a new one or you’re just a beginner. We can all help others in many areas where we know even just a little more than they do.</p>

  </div>
</div>