* {
  font-family: 'Abel';
  .logo {
    font-family: 'Alfa Slab One';
  }
}

.container {
  padding-top: 10em;
}

.home-main {
  text-align: center;
  
  // Bottom About Skillap Section
  .about {
    margin-bottom: 3em;

    .header {
      margin-top: 3em;
      font-weight: 900;
    }
    
    .section-title {
      margin-top: 2em;
    }

    p {
      font-size: 1.7em;
      max-width: 30em;
      margin: auto;
    }

  }

}